.wrapper {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 2rem;
}


.headline-font {
    font-weight: 900;
    letter-spacing: .8rem;
}

.underline-font {
    font-weight: 200;
    letter-spacing: .3rem;
}

.bg-main-blue {
    background-color: #1D1D42;
}

.color-white {
    color: #FFFFFF;
}

.bg-50 {
    background-color: #1d1d4280 ;
}
.bg-second-blue {
    background-color: #4E2ECF;
}
.bg-main-green {
    background-color: #6FCF97;
}
.color-main-blue {
    color: #1D1D42;
}
.color-second-blue {
    color: #4E2ECF;
}
.color-main-green {
    color: #6FCF97;
}

.title{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 36px;
}

.title-small{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 24px;
}

.small-text{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 18px;
}