.wrapper {
    max-width: 1200px;
}


.bg-main-blue {
    background-color: #1D1D42;
}

.bg-50 {
    background-color: #1d1d4280 ;
}
.bg-second-blue {
    background-color: #4E2ECF;
}
.bg-main-green {
    background-color: #6FCF97;
}
.color-main-blue {
    color: #1D1D42;
}
.color-second-blue {
    color: #4E2ECF;
}
.color-main-green {
    color: #6FCF97;
}
