.wrapper {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 2rem;
}

.headline-font {
  font-weight: 900;
  letter-spacing: 0.8rem;
}

.underline-font {
  font-weight: 200;
  letter-spacing: 0.3rem;
}

.bg-main-blue {
  background-color: #1d1d42;
}

.color-white {
  color: #ffffff;
}

.bg-50 {
  background-color: #1d1d4280;
}
.bg-purp {
  background-color: #4e2ecf;
}
.bg-main-green {
  background-color: #6fcf97;
}
.color-main-blue {
  color: #1d1d42;
}
.color-second-blue {
  color: #4e2ecf;
}
.color-main-green {
  color: #6fcf97;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
}

.title-small {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.small-text {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.Toastify__progress-bar--success {
  background-color: #6fcf97 !important;
}

.Toastify__toast-icon > svg {
  fill: #6fcf97;
}